#calendarContainer {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: 150px 300px;
  background-color: #745296;
}

#calendarHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

span {
  font-size: 20px;
  cursor: pointer;
  color: #F1FAEE;
}

.month-year {
  display: inline;
  color: #F1FAEE;

}

.content {
  display: flex;
  justify-content: space-around;
  color: #F1FAEE;
}

.dayColumn {
  cursor: pointer;
}

.bigDate {
  position: absolute;
  top: 50px;
  left: 47%;
  color: #F1FAEE;
  background-color: #745296;
  border: 1px solid black;
  padding: 10px;
}