.fullDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calendarContainer {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  background-color: #745296;
}

#calendarHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

span {
  font-size: 20px;
  cursor: pointer;
  color: #f1faee;
}

.month-year {
  display: inline;
  color: #f1faee;
}

.daysOfTheWeek {
  display: flex;
  justify-content: space-around;
  color: #f1faee;
}

.dayColumn {
  cursor: pointer;
}

.bigDate {
  color: #f1faee;
  background-color: #745296;
  border: 1px solid black;
  padding: 10px;
}